DATABASE_URL=
DIRECT_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET= # run terminal node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"

# selalu gunakan format ini untuk di bagian database dan juga backend